.confirmation-container {
    text-align: center;
    margin-top: 160px;
    color: blue;
}

.checkmark {
    color: #4285f4;
    font-size: 64px;
    background-color: #e6f3ff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}

button {
    background-color: #4285f4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 15px;
}