body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.container {
    width: 320px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    padding-top: 75px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 125px;
    margin-top: 80px;
}

.header {
    margin-bottom: 20px;
    text-align: center;
}

#back-button {
    background-color: lightgray;
    border: none;
    height: 30px;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-size: 20px;
    color: darkblue;
}

.content {
    text-align: center;
}

h2 {
    color: darkblue;
    font-size: 24px;
    margin: 10px 0;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
}

.checkmark {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: green;
}

#next-button {
    background-color: royalblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}